build
libcffex.a
libcffexd.a
.DS_Store
._.DS_Store
unit_test/build
unit_test/testd
unit_test/test
unit_test/log
!.gitignore
trading_tool/*/build
trading_tool/*/flow
trading_tool/test_qkernel/test_qkernel
trading_tool/flow_view/flow_view*
trading_tool/flow_transfer/flow_transfer
trading_tool/check_port/check_port
example/fib_client/fib_client
example/fib_server/fib_server
example/fib_client/build
example/fib_server/build
tmp
unit_test/msvc/.vs/
unit_test/msvc/Debug/
unit_test/msvc/Release/

.vs/
cffex_frame/cffex_eye/msvc/bin/*
cffex_frame/cffex_eye/msvc/obj/*
cffex_eye_linux
cffex_eye.vcxproj.user

*/log/*
cffex_eye/msvc/obj/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
unit_test
cffex_eye/test/src/*
*.con
version.h
*.so
cffex_laser/cffex_laser
cffex_eye.log
core.*
.tag*
